
div(class="image_wrp users_" + imgUsersLength)
   for image in usersImages
      div(style="background-image: url('#{image || '/public/images/anonymous_user.jpg'}')").img

   if typeof unread !== 'undefined' && !_.isNaN(unread)
      div(class="unread_counter" + (unread == 0 ? ' hidden' : ''))= unread
.dialog_info
   .title= title
   .last_message
      .time Последнее сообщение #{humanize.date('d.m.Y в H:i', new Date(lastMessage.createdAt))}
      .text!= strip_tags((lastMessage.text || ''), '<br><br/>')

