
.messages_list

.message_input_wrp
  div(contenteditable="true", placeholder="Введите текст сообщения в этом поле...").textarea
  .add_attachments_area.clearfix
    .add_file_link нажмите для прикрипления файлов
      input(type="file", name="attachment", multiple=true).file_input
    .files_list.attachments

p(style="color: #A5A5A5;") Сообщения отправляются по нажатию на Enter.

input(type="hidden", name="add_to_dialog").select2_ajax
button(type="button").add_to_dialog.blue.big.btn.right_aligned пригласить к обсуждению
