
.image_wrp
   div(style="background-image: url('#{user.photo.original}')").img
.message_txt
   .name= user.fullName
   .text!= strip_tags((text || ''), '<br><br/>')
   if attachments.length
      .attachments
         for attachment in attachments
            a(href=attachment.url, target="_blank").file= attachment.name
   .time= humanize.date('d.m.Y в H:i', new Date(createdAt))
