extends layout

block content
  h1= title
  p Welcome to #{title}

  .news_messages_wrp
    .tabs_buttons
      div(data-toggle="messages").tab_btn.active Сообщения
    .tabs_content
      div(id="messages").tab_content.active
