doctype html
html(lang="ru").no-js
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title= title
    meta(name="description", content='description')
    meta(name="keywords", content='keywords')

    meta(name="apple-mobile-web-app-capable", content="yes")
    link(href="/public/favicon.ico", rel="shortcut icon")
    link(rel="apple-touch-icon-precomposed", href="/public/apple-touch-icon-precomposed.png")

    link(rel='stylesheet', href='/public/bower_components/select2/select2.css')
    link(rel='stylesheet', href='/public/css/main.css')
  body
    .all_wrp
      header#header
        if user
          if user.notificationsCount
            .notifications= user.notificationsCount
          img(src=user.photo.preview || '/public/images/header_auth_anonymous.png').userpic
          .txt
            .title= user.fullName
            a(href="/account/logout").sub выйти
        else
          .title авторизоваться
          .sub используя социальные сети
          .networks_list
            ul(id="uLoginAuth", data-ulogin="display=buttons;fields=first_name,last_name,photo,photo_big;optional=phone,email;callback=socialAuth;redirect_uri=").soc_list.ulinline
              li(data-uloginbutton="vkontakte").vk
                | !{SVGImages.soc.vk}
              li(data-uloginbutton="facebook").fb
                | !{SVGImages.soc.facebook}
              li(data-uloginbutton="twitter").tw
                | !{SVGImages.soc.twitter}


      main.cont_wrp
        block content
      footer#footer

    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script.
      window.jQuery || document.write('<script src="/public/bower_components/jquery/dist/jquery.min.js"><\/script>');

    script(src="//ulogin.ru/js/ulogin.js")
    script.
      window.uLogin || document.write('<script src="/public/js/ulogin.js"><\/script>');

    script(src="/public/bower_components/lodash/lodash.min.js")

    script(src="/public/bower_components/backbone/backbone.js")
    script(src="/public/js/backbone.sync.js")
    script(src="/public/bower_components/marionette/lib/backbone.marionette.js")
    script(src="/public/js/models/Dialog.js?v=" + config.get('version'))
    script(src="/public/js/models/Message.js?v=" + config.get('version'))
    script(src="/public/js/collections/Dialogs.js?v=" + config.get('version'))
    script(src="/public/js/collections/Messages.js?v=" + config.get('version'))
    script(src="/public/js/templates.js?v=" + config.get('version'))
    script(src="/public/js/views/dialogsLayout.js?v=" + config.get('version'))
    script(src="/public/js/views/dialogItem.js?v=" + config.get('version'))
    script(src="/public/js/views/dialogsCollection.js?v=" + config.get('version'))
    script(src="/public/js/views/messageItem.js?v=" + config.get('version'))
    script(src="/public/js/views/serviceMessageItem.js?v=" + config.get('version'))
    script(src="/public/js/views/messagesCollection.js?v=" + config.get('version'))

    script(src="/public/bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js")
    script(src="/public/bower_components/select2/select2.min.js")
    script(src="/public/bower_components/select2/select2_locale_ru.js")
    script(src="/public/bower_components/socket.io-client/socket.io.js")
    script(src="/public/bower_components/humanize/humanize.js")
    script(src="/public/js/plugins.js?v=" + config.get('version'))
    script(src="/public/js/main.js?v=" + config.get('version'))
    script(src="/public/js/account.js?v=" + config.get('version'))

    script.
      //IE outdate friendly warning if you don't want remove it
      var $buoop = {vs: {i: 8, f: 3.6, o: 10.6, s: 3.2, n: 9}};
      $buoop.ol = window.onload;
      window.onload = function () {
        try {
          if($buoop.ol) $buoop.ol();
        } catch (e) {
        }
        var e = document.createElement("script");
        e.setAttribute("type", "text/javascript");
        e.setAttribute("src", "/public/js/update.js");
        e.async = true;
        document.body.appendChild(e);
      };

