
@require functions
/*@require normalize*/

@require h5bp

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ulinline {
  ulinline()
}

.soc_list {
  margin-bottom: 18px
  li {
    margin-left: 28px
    background: white
    width: 32px
    height: 31px
    cursor: pointer
    position: relative
    margin-top: 15px
    text-align: right
    &:first-child {
      margin-left: 0
    }
    a {
      width: 100%
      height: 100%
      position absolute
      left: 0
      right 0
    }
  }
  .vk {
    path {
      fill #45668e
    }
  }
  .fb {
    path {
      fill #3b5998
    }
  }
  .tw {
    path {
      fill #55acee
    }
  }
}

.news_messages_wrp {
  margin-top: 43px
  .news_list {
    margin-top: -12px
  }
  .dialogs_wrp {
    margin-top: -18px
  }
  .messages_list {
    max-height: 260px;
    overflow-y: scroll;
  }
  .dialogs_list, .messages_list {
    margin-bottom: 40px
    .dialog, .message {
      cursor: pointer
      padding: 24px 10px 36px 10px
      position: relative
      /*margin-left: -10px*/
      margin-top: 7px
      &:first-child {
        margin-top: 0
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 10px;
        width: calc(100% - 10px);
        height: 1px;
        background-color: #e0e0e3;
      }
      &:hover {
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(253, 33, 129, .1);
        }
      }
      &.active {
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(253, 33, 129, .05);
        }
        &:hover {
          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(253, 33, 129, .1);
          }
        }
      }
      .image_wrp, .dialog_info, .message_txt {
        display: inline-block
        vertical-align: top
        user-select none
      }
      .image_wrp {
        &.users_2 {
          .img {
            width: 48%
            float: left
            background-position: center center
            &:first-child {
              margin-right: 4%
            }
          }
        }
        &.users_3 {
          .img {
            width: 48%
            float: right
            background-position: center center
            height: 48%
            &:first-child {
              margin-right: 4%
              height: 100%
              float: left
            }
            &:nth-child(2) {
              margin-bottom: 4%
            }
          }
        }
        &.users_4 {
          .img {
            width: 48%
            float: right
            background-position: center center
            height: 48%
            &:first-child {
              margin-right: 4%
              margin-bottom: 4%
            }
            &:nth-child(2) {
              margin-bottom: 4%
            }
            &:nth-child(2n+1) {
              float: left
            }
          }
        }
        .img {
          background-size: cover;
          border-radius 5px
          width: 100%
          height: 100%
        }
        width: 100px
        height: 94px
        position: relative
        .unread_counter {
          position: absolute
          top: -8px
          right: -8px
          width: 16px
          height: 16px
          background-color: #fd2181
          border-radius 50%
          color: #fff
          text-align: center
          font-size: 12px
          line-height: 1.4
        }
      }
      .dialog_info, .message_txt {
        width: 780px
        margin-left: 40px
        font-size: 18px
        .title, .name {
          color: #000
          font-weight: 500
        }
        .last_message {
          margin-top: 1px
          .time {
            color: #b7b7c0
            font-size: 16px
          }
          .text {
            font-weight: 300
            margin-top: 8px
          }
        }
      }
      .message_txt {
        margin-top: 7px
        .text {
          font-weight: 300
          margin-top: 0
        }
        .attachments {
          margin-top: 10px
          .file {
            position: relative;
            display: inline-block;
            background-color: #ededf0;
            border-radius: 5px;
            padding: 9px;
            margin-right: 10px
            margin-bottom: 5px
            &:hover {
              background-color: @background-color - 10%
            }
          }
        }
        .time {
          position: absolute
          top: 26px
          right: 10px
          font-size: 16px
          color: #b7b7c0
        }
      }
    }
    .message {
      cursor: initial
      padding-top: 16px
      padding-bottom: 18px
      .message_txt {
        user-select initial
      }
      &:hover {
        &:before {
          display: none
        }
      }
      &.service {
        text-align: center
        .service_message {
          &_time, &_text {
            display: inline-block
            background-color: #A4C0DD;
            color: #fff
            padding: 2px 5px
            border-radius 5px
            margin-bottom: 5px
          }
        }
      }
    }
  }
  .select2-choices {
    box-shadow: inset 0 1px 3px 0 rgba(2, 2, 2, 0.5);
    background-image: none
    border-color transparent
    border-radius 5px 0 0 5px
    .select2-input {
      padding: 12px 14px !important
      margin: 0 !important
    }
  }
}

.tabs_buttons {
  position: relative
  margin-bottom: 3px
  &:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #e0e0e3;
  }
  .tab_btn {
    display: inline-block
    vertical-align: top
    font-size: 16px
    color: #babac9
    margin-left: 20px
    cursor: pointer
    user-select none
    &:first-child {
      margin-left: 0
    }
    &.active {
      font-weight: 700
      color: #18181a
    }
  }
}

.tabs_content {
  margin-top: 24px
  .tab_content {
    display: none
    &.active {
      display: block
    }
  }
}

[contenteditable][placeholder]:empty:not(:focus):before{
  content:attr(placeholder)
  color: #d1d1d1
  font-size: 16px
  display: inline-block
}

.message_input_wrp {
  box-shadow: inset 0 1px 3px 0 rgba(2, 2, 2, 0.5);
  border-radius: 5px;
  margin-bottom: 20px
  .textarea {
    height: 83px
    cursor: text;
    padding: 12px 14px
    border-bottom: 1px solid #d9d9d9
    outline none
  }
  .add_attachments_area {
    padding-left: 36px
    min-height: 34px
    .add_file_link {
      float: left
      color: #d1d1d1
      font-size: 16px
      text-decoration: none
      margin-top: 6px
      cursor: pointer
      position relative
      .file_input {
        opacity: 0
        position absolute
        left: -100px
        top 0
        cursor: pointer
        width: 430px
      }
      &:before {
        left: -26px
        top: -2px
        width: 21px
        height: 20px
        background-image: url(/public/images/icon_attachment_2.png)
      }
    }
    .files_list.attachments {
      float: right
      margin-bottom: 0
      .file {
        margin-left: 10px
        margin-top: 0
      }
    }
  }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */


@require helpers
